<% content_for(:title) do %>
  Modifier mon trajet
<% end %>


<h4 class = 'text-center'>Je modifie mon voyage</h4>

<div class="container">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="transporteur-form">
      <%= simple_form_for(@trip) do |f| %>
        <%= f.input :starts_at, label: 'Date de départ' %>
        <%= f.input :ends_at, label: "Date d'arrivée" %>
        <%= f.input :departure_city,label: 'Ville de départ' %>
        <%= f.input :arrival_city, label: "Ville d'arrivée" %>
        <%= f.submit 'Modifier', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
