<% content_for(:title) do %>
  Enregistrer un nouveau
<% end %>


<h4 class = 'text-center'> J'enregistre mon voyage </h4>

<div class="container">
<%= simple_form_for(@trip) do |f| %>
  <%= f.input :starts_at %>
  <%= f.input :ends_at %>
  <%= f.input :departure_city%>
  <%= f.input :arrival_city %>
  <%= f.submit 'Créer' %>
<% end %>
</div>



<% content_for :after_js do %>
  <% javascript_tag do %>

    $(document).ready(function() {

        $("#trip_departure_city").autocomplete({

        source : function(requete, reponse){

            $.ajax({

                    url : 'http://api.geonames.org/searchJSON?username=demo',
                    dataType : 'json',
                    data : {

                        name_startsWith : $('#trip_departure_city').val(),
                        maxRows : 4

                    },
                    success : function(donnee){

                        reponse($.map(donnee.geonames, function(objet){

                            return objet.name + ', ' + objet.countryName;

                        }));

                    }

                });

            }

        });

    });
  <% end %>
<% end %>
