<% content_for(:title) do %>
  Enregistrer un nouveau voyage
<% end %>


<h4 class = 'text-center'> J'enregistre mon voyage </h4>

<div class="container">
  <div class="ro">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="transporteur-form">
        <%= simple_form_for(@trip) do |f| %>
            <div class="row">
              <div class="col-md-6">
                <%= f.input :starts_at, as: :string, input_html: { id: "datetimepicker1", placeholder: "test" },
                label: "Date et horaire de départ" %>
              </div>
              <div class="col-md-6">
                <%= f.input :ends_at, as: :string, input_html: { id: "datetimepicker2" },
                label: "Date et Horaire d'arrivée" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-home fa-fw" aria-hidden="true"></i></div>
                  <%= f.input :departure_city, label: false, input_html: { placeholder: "Ville de départ" }  %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-home fa-fw" aria-hidden="true"></i></div>
                  <%= f.input :arrival_city, label: false, input_html: { placeholder: "Ville d'arrivée" } %>
                </div>
              </div>
            </div>
            <div class="row">
              <% unless current_user.phone%>
                <div class="col-md-6">
                  <div class="form-inputs">
                    <div class="form-group required">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-phone fa-fw" aria-hidden="true"></i></div>
                        <%= text_field_tag :carrier_phone, nil, {type: "number", placeholder: " Votre n° Téléphone: 06 45 68 23 12", class:"form-control required" } %>
                      </div>
                      <div id="error_on_phone2" class="hidden" style="color:#800000;">
                        <p>
                          Votre numéro est indispensable pour la création d'un trip.
                          Veuillez rentrer un n° correct.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              <%end%>
            </div>
            <div class ="text-center">
              <%= f.input_field :usual, inline_label: "Je fais ce trajet régulièrment" , as: :boolean %>
            </div>
            <div class="text-center">
              <%= f.submit 'Créer', class: "btn btn-primary"  %>
            </div>

            <%= f.input :departure_longitude, :as => :hidden %>
            <%= f.input :departure_latitude, :as => :hidden %>
            <%= f.input :arrival_longitude, :as => :hidden %>
            <%= f.input :arrival_latitude, :as => :hidden %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
<% content_for :after_js do %>
<script>

  $(document).ready(function() {
    $(".transporteur-form").submit(function() {
      if( $("#carrier_phone").length != 0 ) {
        var phone2 = $("#carrier_phone").val();
        var regex = new RegExp("^(0[1-678])(?:[ _.-]?([0-9]{2})){4}$");
        if (regex.test(phone2) ) {
           console.log("valide");
        } else {
          console.log("ok das non");
          $("#error_on_phone2").removeClass("hidden");
          return false
        }
      }
    })
  });

</script>
<%end%>
<%end%>

<!--
Options of datepicker are set in datepicker.js -->
