<% content_for(:title) do %>
  Enregistrer un nouveau
<% end %>


<h4 class = 'text-center'> J'enregistre mon voyage </h4>

<div class="container">
<%= simple_form_for(@trip) do |f| %>
  <%= f.input :starts_at %>
  <%= f.input :ends_at %>
  <%= f.input :departure_city %>
  <%= f.input :arrival_city %>
  <%= f.submit 'Créer' %>
<% end %>
</div>






<!-- http://api.geonames.org/searchJSON?username=demo -->
