<div class="wrapper-title-search">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-10">
        <div id="mission-description">
          <div id="itinerary">
            <div id="departure">
              <%= cl_image_tag "flag-green-icon_xpv5ax", style:"width: 20px; height: 20px;"%>
              <h1><%=@mission.departure_city%></h1>
            </div>
            <div id="transit-mission">
                <!-- Possibilite de mettre une image -->
              <h1><i class="fa fa-long-arrow-right" aria-hidden="true"></i></h1>
            </div>
            <div id="arrival">
              <%= cl_image_tag "flag-red-icon_qrjevh", style:"width: 20px; height: 20px;"%>
              <h1><%=@mission.arrival_city%></h1>
            </div>
          </div>
          <div class="mission-date">
            <h2><i class="fa fa-calendar" aria-hidden="true"></i> <%=@mission.starts_on.strftime(" %-d %B %Y")%> </h2>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <%= link_to "Voir ma mission", mission_path(@mission), class: "btn btn-primary text-right"%>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-results-search">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7">

        <div id="search-results">
          <div id="intro-choice">
            <h4>Choisissez votre transporteur</h4>
          </div>
          <% if @trips_results.empty? %>
            <p>Désolé nous n'avons pas de whizer pour prendre en charge votre colis mais ne vous inquiétez pas, super Loulou est là (enfin il est à Marseille pour l'instant)</p>
          <%else%>
              <% @trips_results.each do |trip|%>
                <%= render "shared/card_trip", trip: trip%>
              <%end%>
          <%end%>
        </div>
      </div>
      <div class="col-sm-5">
        <div id="user-corner" style="display: none;">

        </div>
      </div>
    </div>

  </div>
</div>


<% content_for(:after_js) do %>
  <script>
  // Javascrit sur la card de trip
    $( ".card-trip" ).hover(function() {
        $(".card-trip").addClass('fadded');
        $(this).removeClass('fadded');
        $(this).find('.button-choose').removeClass('hidden')
      }, function () {
        if ($("#user-corner").css('display')=='none') {
          // tester presence user corner
          $(".card-trip").removeClass("fadded");
        }
        $(this).find('.button-choose').addClass('hidden')
      }
    );
  </script>
<% end %>
