<div class="wrapper-gray padded">
  <div class="container">
    <h1>Votre trajet : <%=@mission.departure_city%> to <%=@mission.arrival_city%></h1>
    <h2> <%=@mission.starts_on.strftime(" %-d %B %Y")%> </h2>

    <div class="row">
      <div class="col-xs-12 col-sm-7">

        <div id="search-results">
          <div id="intro-choice">
            <h4>Choisissez votre transporteur</h4>
          </div>
          <% if @trips_results.empty? %>
            <p>Désolé nous n'avons pas de whizer pour prendre en charge votre colis mais ne vous inquiétez pas, super Loulou est là (enfin il est à Marseille pour l'instant)</p>
          <%else%>
              <% @trips_results.each do |trip|%>
                <%= render "shared/card_trip", trip: trip%>
              <%end%>
          <%end%>
        </div>
        <%= link_to "Voir ma mission", mission_path(@mission), class: "btn btn-primary"%>
      </div>
      <div class="col-sm-5">
        <div id="user-corner" style="display: none;">

        </div>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script>
  // Javascrit sur la card de trip
    $( ".card-trip" ).hover(function() {
        $(".card-trip").addClass('fadded');
        $(this).removeClass('fadded');
        $(this).find('.button-choose').removeClass('hidden')
      }, function () {
        if ($("#user-corner").css('display')=='none') {
          // tester presence user corner
          $(".card-trip").removeClass("fadded");
        }
        $(this).find('.button-choose').addClass('hidden')
      }
    );
  </script>
<% end %>
