<div class="container">
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="login-form">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <% if resource.errors.any? %>
            <ul class="list-unstyled">
              <% resource.errors.full_messages.each do |message| %>
                <li class="simple-form-error-fallback"><%= message %></li>
              <% end %>
            </ul>
          <% end %>

          <div class="form-inputs">

            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></div>
              <%= f.input :email, label: false, required: true, autofocus: true %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password, label: "Nouveau mot de passe", autocomplete: "off", hint: "Ne pas remplir si vous ne souhaitez pas changer votre mot de passe", required: false %>

            <%= f.input :password_confirmation, label: "Confirmez votre nouveau mot de passe", required: false %>


            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></div>
              <%= f.input :current_password,label:false, required: true%>
            </div>
            <p class="help-block margin-help">Pour confirmer vos changements, inscrivez votre mot de passe actuel</p>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update" %>
          </div>
        <% end %>

        <h3>Supprimer mon compte</h3>

        <p>Mécontent? <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
