<div class="modal fade" id="sign_up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">S'inscrire</h4>
      </div>
      <div class="modal-body">


        <!-- Modal Content -->
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
          <div class="row">

            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></div>
                <%= f.input :first_name, label:false, required: true, autofocus: true, input_html: { placeholder: "Votre prénom" } %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></div>
                <%= f.input :last_name, label:false, required: true, input_html: { placeholder: "Votre nom de famille" }%>
              </div>
            </div>

            <div class="col-md-12">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></div>
                <%= f.input :email, label:false, required: false, input_html: { placeholder: "Votre E-mail" }%>
              </div>
            </div>

            <div class="col-md-12">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></div>
                <%= f.input :password, label:false, required: true, input_html: { placeholder: "Votre mot de passe (6 caractères minimum)" } %>
              </div>
            </div>

            <div class="col-md-12">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></div>
                  <%= f.input :password_confirmation, label:false, required: true, input_html: { placeholder: "Confirmez votre otre mot de passe" } %>
              </div>
            </div>

            <div class="col-md-12">
              <div class="input-group">
              <%= f.button :submit, "S'inscrire", :class => "btn-primary" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="input-group">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        <% end %>
        <!-- Modal Content -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
