<div class="user-card">
  <div class="user-card-top">
    <div class="img-card-user">
      <%= image_tag user.one_picture_url, class: "avatar-very-large"%>
    </div>
    <div class="user-card-infos">
      <div class="user-card-name">
        <h4><%= user.first_name.capitalize%> <%= user.last_name.capitalize%>
          <span class="carrier-rating">
            <% if user.average_transporter_rating %>
              <% user.average_transporter_rating.times do %>
                <i class="fa fa-star" aria-hidden"=true" style="color: #FFB400;"></i>
              <%end%>
              <% (5 - user.average_transporter_rating).times do %>
              <i class="fa fa-star" aria-hidden"=true" style="color: $grey;"></i>
              <%end%>
            <%else%>
              <p> <span style="font-style:italic; font-size:12px;">Pas encore noté(e)</span></p>
            <%end%>
          </span>
        </h4>
      </div>
      <div class="user-card-createdat">
        <p> Membre depuis: <%= @user.created_at.strftime("%d/%m/%Y")%></p>
      </div>
      <div class="user-card-seeprofile">
        <%= link_to "Voir son profil", show_user_path(user)%>
      </div>

    </div>
  </div>
  <hr>
  <% if user.average_transporter_rating %>
    <div class="user-card-bottom">
      <% user.transporter_reviews.each do |review| %>
        <%= render "reviews/card_review", review: review%>
      <%end%>
    </div>
  <%end%>
</div>
