<div class="user-card">
  <div class="user-card-top">
    <div class="img-card-user">
      <%= image_tag user.one_picture_url, class: "avatar-very-large"%>
    </div>
    <div class="user-card-infos">
      <div class="user-card-name">
        <h4><%= user.first_name.capitalize%> <%= user.last_name.capitalize%>
          <span class="carrier-rating">
            <% 4.times do %>
              <i class="fa fa-star" aria-hidden"=true" style="color: #FFB400;"></i>
            <%end%>
            <% 1.times do %>
            <i class="fa fa-star" aria-hidden"=true" style="color: $grey;"></i>
            <%end%>
          </span>
        </h4>
      </div>
      <div class="user-card-createdat">
        <p> Membre depuis: <%= @user.created_at.strftime("%d/%m/%Y")%></p>
      </div>
      <div class="user-card-seeprofile">
        <%= link_to "Voir son profil", show_user_path(user), class: "btn btn-link" %>
      </div>

    </div>
  </div>
  <hr>

  <div class="user-card-bottom">
    <div class="card-user-review">
      <img src="http://placehold.it/50x50" class="img-circle">

      <div class="card-review">

        <p class="carrier-rating">
          <% 4.times do %>
            <i class="fa fa-star" aria-hidden"=true" style="color: #FFB400;"></i>
          <%end%>
          <% 1.times do %>
          <i class="fa fa-star" aria-hidden"=true" style="color: $grey;"></i>
          <%end%>
        </p>

        <p class="review-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
        <p class="text-right">Marie</p>

      </div>
    </div>

    <div class="card-user-review">
      <img src="http://placehold.it/50x50" class="img-circle">

      <div class="card-review">

        <p class="carrier-rating">
          <% 4.times do %>
            <i class="fa fa-star" aria-hidden"=true" style="color: #FFB400;"></i>
          <%end%>
          <% 1.times do %>
          <i class="fa fa-star" aria-hidden"=true" style="color: $grey;"></i>
          <%end%>
        </p>

        <p class="review-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
        <p class="text-right">Marie</p>

      </div>
    </div>
  </div>
</div>
