<%= render "shared/navbar_transporteur" %>
<%= render "shared/banner_transporteur" %>

<div class="wrapper-home">
<div class="container">
  <div class="row" id="info">
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="padded">
        <i class="fa fa-train fa-5x" aria-hidden="true"></i>
      </div>
      <h4>Ne voyagez plus a vide</h4>
      <p>Prenez le train et transportez un colis de gare à gare. </p>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="text-money padded">
        <i class="fa fa-money fa-5x" aria-hidden="true"></i>
      </div>
      <h4>Gagner de l'argent en voyageant</h4>
      <p>Rentabilisez votre billet de train, et gagnez de l'argent en voyageant! Vous êtes rémunérez pour transporter du départ à l'arrivée du train un colis necessitant une livraison express.</p>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="text-love padded">
        <i class="fa fa-globe fa-5x" aria-hidden="true"></i>
      </div>
      <h4>Protégez la planète</h4>
      <p>En transportant un colis via un voyage que vous effectuez déja, vous limitez l'impact carbone de la livraison, la planète vous dit merci.</p>
    </div>
  </div>
</div>
</div>

<div class="wrapper-example">
  <div class="container">
    <div class="row">
      <div class="text-center wrapper-home-title">
        <h4>Dèja des dizaines de colis attendent d'être transportés</h4>
      </div>
    </div>

    <% @missions.each do |mission| %>
      <div class="row">
       <div class="wrapper-trip-home">
         <div class="home-start flex-home">
         <p><i class="fa fa-calendar-check-o" aria-hidden="true"></i> <%=mission.starts_on.to_s[0..10]%></p>
         </div>
         <div class="home-depart flex-home">
         <p><%= mission.departure_city%></p>
         </div>
         <div class="flex-home">
         <p><%=mission.arrival_city%></p>
         </div>
         <div class="flex-home">
         <p><%= cl_image_tag mission.user.one_picture_url, class: "avatar" %> <%=mission.user.first_name%> <%=mission.user.photo%></p>

         </div>
         <div class="flex-home">
         <p> <%=mission.parcel_description%> </p>
         </div>
       </div>
      </div>
    <%end%>
    <div class="row">
      <div class="text-center wrapper-home-title">
        Donner un coup de main à Julie, Paul ou encore Jean ...
      </div>
    </div>

  </div>
</div>

