<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="login-form">
        <div class="text-center">
          <h2>Se connecter</h2>
        </div>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></div>
              <%= f.input :email, label:false, required: false, autofocus: true %>
            </div>
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></div>
              <%= f.input :password, label:false, required: false %>
            </div>
            <%= f.input :remember_me,label: "se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Je me connecte", :class => "btn-primary" %>
          </div>
          <br>
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

