<% if current_user == @mission.user %>
  <%case mission.status %>
  <%when "pending_carrier"%>
    <!-- <p>Veuillez choisir votre transporteur</p> -->

  <%when "pending_payment"%>
    <p>Merci de confirmer votre payment afin de finaliser la mission</p>
    <p>Ne vous inquiétez pas vous serez remboursé si un imprévus se déclare</p>
    <div id="button-payment" class="text-center">
      <!-- bouton stripe pay -->
      <%= form_tag mission_payments_path(@mission) do %>
        <article>
          <label class="amount">
            <span>Montant: <%= humanized_money_with_symbol(@mission.price) %></span>
          </label>
        </article>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-label="Payer"
            data-name="Payer ma mission"
            data-description="Mission <%= @mission.id %>"
            data-amount="<%= @mission.price_cents %>"
            data-currency="EUR"
            data-email="<%= current_user.email %>"
            data-locale="fr"></script>
      <% end %>
      <!-- fin bouton stripe pay -->

    </div>

  <% when "ready"%>
    <p>Veuillez rentrer le code transmis par votre transporteur pour notre suivi</p>
    <div class="form-code text-center">
      <%= form_tag(check_start_mission_path(mission), method: "post", remote: true) do %>
        <div class="form-group">
          <%= number_field_tag(:start_code, params[:start_code], placeholder: "Code à 6 chiffres", class: "form-control", required:"required") %>
        </div>
        <div class="error_message hidden text-left">
          <p>* Le code que vous avez rentré n'est pas bon.<br/> Veuillez recommencé.</p>
        </div>
        <%= submit_tag 'Submit', class:"btn btn-primary"%>
      <%end%>
    </div>

  <%when "on-going"%>
    <p>Votre mission est en cours</p>
    <p>Vous recevrez un message à la bonne réception de votre colis</p>

  <% when "delivered" %>
    <p>Votre colis est arrivé entre de bonnes mains</p>
    <p>Nous déclenchons la procédure de paiement</p>

  <% when "done" %>
    <p>Mission accompli</p>
    <p>Whiz vous remercie de votre confiance</p>
    <p>Laissez nous une review</p>
    <div class="bye-bye text-center">A bientôt</div>
  <%end%>


<%else%> <!-- l'utilisateur est le transporteur -->
  <%case mission.status %>
  <%when "pending_payment"%>
    <!-- <p>Peut etre déclencheer le payment à la confirmation du transporteur</p> -->
    <p>Nous attendons le payment du sender, vous serez notifié(e) de la confirmation au plus vite...</p>
    <p><%= render "shared/waiting_gif" %></p>
  <% when "ready"%>
    <p>Voici le code à transmettre à l'emetteur pour que vous accomplissiez votre mission</p>
    <p>Ceci est une étape essentielle sans laquelle vous ne pourre recevoir votre paiement</p>
    <div class="code text-center">
      <h3><%= mission.start_code %></h3>
    </div>

  <%when "on-going"%>
    <p>Votre mission est en cours</p>
    <p>Veuillez rentrer le code que le receveur vous transmettra afin de finaliser votre mission et être rémunéré</p>
    <div class="form-code text-center">
      <%= form_tag(check_end_mission_path(mission), method: "post", remote: true) do %>
        <div class="form-group">
          <%= number_field_tag(:end_code, params[:end_code], placeholder: "Code à 6 chiffres", class: "form-control", required:"required") %>
        </div>
        <div class="error_message hidden text-left">
          <p>* Le code que vous avez rentré n'est pas bon.<br/> Veuillez recommencer.</p>
        </div>
        <%= submit_tag 'Submit', class:"btn btn-primary"%>
      <%end%>
    </div>

  <% when "delivered" || "done" %>
    <p>Mission accomplie</p>
    <p>Whiz vous remercie de votre confiance</p>
    <p>La prochaine que vous prenez le train nous comptons sur vous !</p>
    <div class="bye-bye text-center">A bientôt</div>
  <%end%>

<%end%>
