
<% content_for(:title) do %>
  Mes Colis
<% end %>

<h4 class="title-mission" style="text-align: center">
  <%= link_to new_mission_path do %>
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="false"></span>
  <% end %>
   Mes Colis | envoyés : <%= @missions.where(status: 'delivered').length %> | en cours : <%= @missions.length - @missions.where(status: 'delivered').length %></h4>

<%if @missions.first.nil? %>
  <p>Vous n'avez pas de colis enregistrés</p>
  <p>Envoyez un colis aujourd'hui et gagnez du temps !</p>
  <p><%= link_to 'Envoyez un colis', new_mission_path %></p>
<%else%>
  <%= render "dashboard" %>
<%end%>

