<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <div class="megaform">
          <%= simple_form_for(@mission) do |f| %>
          <% if resource.errors.any? %>
            <ul class="list-unstyled">
              <% resource.errors.full_messages.each do |message| %>
                <li class="simple-form-error-fallback"><%= message %></li>
              <% end %>
            </ul>
          <% end %>

          <div id="rootwizard">

            <!-- Onglets -->
            <div class="navbar">
              <div class="navbar-inner">
                <div>
                  <ul class="list-inline">
                    <li><a href="#tab1" data-toggle="tab">Le Trajet</a></li>
                    <li><a href="#tab2" data-toggle="tab">Mon Colis</a></li>
                    <li><a href="#tab3" data-toggle="tab">Mon Receveur</a></li>
                    <li><a href="#tab4" data-toggle="tab" class="hidden">Valider</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Barre de progrès -->
            <div id="icon">
              <div id="progress-icon" class="text-right">
                <%= image_tag "parcel.png", class: "small-package"%>
              </div>
            </div>

            <div class="progress" id="bar">

              <div class="progress-bar progress-bar-info progress-bar bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" >

              </div>
            </div>

            <!-- Contenu des différents onglets -->
            <div class="tab-content">

              <div class="tab-pane" id="tab1">
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-inputs">
                        <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-home fa-fw" aria-hidden="true"></i></div>
                          <%= f.input :departure_city, as: :select, collection: Mission::DEPARTURE_CITY, include_blank: "Ville de départ", label: false %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                       <div class="form-inputs">
                        <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-home fa-fw" aria-hidden="true"></i></div>
                          <%= f.input :arrival_city, as: :select, collection: Mission::ARRIVAL_CITY, include_blank: "Ville d'arrivée", label: false %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-inputs">
                        <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i></div>
                          <%= f.input :starts_on, as: :string, label: false, input_html: { placeholder: "Date de départ", id:"datetimepicker3" } %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                       <div class="form-inputs">
                        <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-calendar-o fa-fw" aria-hidden="true"></i></div>
                          <%= f.input :timeslot, as: :select, collection: Mission::TIMESLOT, include_blank: "Choisissez un créneau horaire", label: false %>
                       </div>
                      </div>
                    </div>
                </div>
              </div>

              <div class="tab-pane" id="tab2">
                <div class="row">
                  <div class="col-md-12">
                     <div class="form-inputs">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-cube fa-fw" aria-hidden="true"></i></div>
                        <%= f.input :parcel_description, input_html: { placeholder: "Décrivez votre colis" }, label:false %>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <img id="img_prev" width=160 height=160 src="#", align= "right", alt="your image" class="img-thumbnail hidden"/> <br/>
                      <p><strong>Ajouter une photo de votre colis</strong></p><br>
                        <span class="btn btn-primary btn-file">
                        <%= f.file_field :photo, id: "colis-upload" %>
                        </span>
                        <%= f.hidden_field :photo_cache %>

                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab3">
                <div class="row">

                  <div class="col-md-6">
                    <div class="form-inputs">
                        <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></div>
                        <%= f.input :receiver_first_name,label:false, input_html: { placeholder: "Prénom du destinataire" } %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-inputs">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></div>
                        <%= f.input :receiver_last_name, label: false, input_html: { placeholder: "Nom du destinataire" } %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-inputs">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-phone fa-fw" aria-hidden="true"></i></div>
                        <%= f.input :receiver_phone, label: false, input_html: { placeholder: "06 45 68 23 12 du destinataire" } %>
                      </div>
                      <div id="error_on_receiver_phone" class="hidden" style="color:#800000;">
                        <p>
                          Veuillez fournir un n° téléphone valide.<br/> Ex: 0634567890
                        </p>
                      </div>
                    </div>
                  </div>

                  <% unless current_user.phone%>
                    <div class="col-md-6">
                      <div class="form-inputs">
                        <div class="form-group required">
                          <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-phone fa-fw" aria-hidden="true"></i></div>
                            <%= text_field_tag :sender_phone, nil, {type: "number", placeholder: "Votre n° télephone: 06 23 45 75 31", class:"form-control required" } %>
                          </div>
                          <div id="error_on_phone" class="hidden" style="color:#800000;">
                            <p>
                              Votre numéro est indispensable pour la création d'une mission.<br/>
                              Veuillez rentrer un n° correct.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  <%end%>

                </div>
              </div>

              <div class="tab-pane" id="tab4">
                <div class="row">
                  <div class="col-md-12">
                     <div class="form-inputs" style="text-align: center;">
                     <br>
                     <br>
                      <%= f.button :submit, "Lancer la recherche", class: "btn btn-info btn-lg" %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Navigation dans le formulaire  -->
              <ul class="pager wizard">
                <!-- <li class="previous first" style="display:none;"><a href="#">First</a></li> -->
                <li class="previous"><a href="#">&larr; Etape précedente</a></li>
                <!-- <li class="next last" style="display:none;"><a href="#">Last</a></li> -->
                <li class="next"><a href="#">Etape suivante &rarr;</a></li>
              </ul>
            </div>
          </div>


          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
<script>
  $(document).ready(function() {
    var cond = $("tab-content .active").attr("id") == "tab4";
    $(window).keydown(function(event){
      if(!cond && event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
  });
</script>
<%end%>


<!-- Java script de la preview de l'image du colis dans la Tab 2 -->

<% content_for :after_js do %>
<script>
  $(function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#colis-upload").change(function(){
      $('#img_prev').removeClass('hidden');
      readURL(this);
    });
  });
</script>
<%end%>



<!-- JS for city select made with love -->


<% content_for :after_js do %>
<script>
  $(document).ready(function() {

      $(function() {
        $("#datetimepicker3").datetimepicker({
          defaultDate: new Date()
        }).on('dp.change',function(event){
          var val = parseInt($("#datetimepicker3").val().slice(-5).substring(0,2));
          if (val < 12) {
            console.log("matin");
            $("#mission_timeslot").html("<option value='Matin'>Matin</option>");
          } else {
            console.log("aprem");
            $("#mission_timeslot").html("<option value='Après-midi'>Après-midi</option>");
          }

        });

      });

  });
</script>
<%end%>


<!-- timeslot auto -->

<% content_for :after_js do %>
<script>
  $(document).ready(function() {

    $("#mission_departure_city").change(function () {
        var val = $(this).val();
        if (val == "Paris") {
            $("#mission_arrival_city").html("<option value='Bordeaux'>Bordeaux</option><option value='Lille'>Lille</option><option value='Lyon'>Lyon</option><option value='Marseille'>Marseille</option>");
        } else if ( (val == "Marseille") || (val == "Lyon") || (val == "Lille") || (val == "Bordeaux") ) {
            $("#mission_arrival_city").html("<option value='Paris'>Paris</option>");
        }
    });

  });
</script>
<%end%>

