<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <div class="megaform">
          <%= simple_form_for(@mission) do |f| %>

          <div id="rootwizard">

            <!-- Onglets -->
            <div class="navbar">
              <div class="navbar-inner">
                <div class="">
                  <ul class="list-inline">
                    <li><a href="#tab1" data-toggle="tab">Le Trajet</a></li>
                    <li><a href="#tab2" data-toggle="tab">Mon Colis</a></li>
                    <li><a href="#tab3" data-toggle="tab">Mon Receveur</a></li>
                    <li><a href="#tab4" data-toggle="tab">Valider</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Barre de progrès -->
            <div id="icon">
              <div id="progress-icon" class="text-right">
                <%= image_tag "parcel.png", class: "small-package"%>
              </div>
            </div>

            <div class="progress" id="bar">

              <div class="progress-bar progress-bar-info progress-bar bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" >

              </div>
            </div>

            <!-- Contenu des différents onglets -->
            <div class="tab-content">

              <div class="tab-pane" id="tab1">
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-inputs">
                        <%= f.input :departure_city, label: 'Ville de Départ', input_html: { placeholder: "Ville de départ" } %>
                      </div>
                    </div>
                    <div class="col-md-6">
                       <div class="form-inputs">
                        <%= f.input :arrival_city, label: "Ville d'arrivée", input_html: { placeholder: "Ville d'arrivée" }%>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-inputs">
                        <%= f.input :starts_on, as: :string, label: 'Date et horaire de départ', input_html: { placeholder: "Date de départ", id:"datetimepicker3" } %>
                      </div>
                    </div>
                    <div class="col-md-6">
                       <div class="form-inputs">
                        <%= f.input :timeslot, as: :select, collection: Mission::TIMESLOT, include_blank: "Choisissez un créneau horaire", label: 'Créneau horaire' %>
                      </div>
                    </div>
                </div>
              </div>

              <div class="tab-pane" id="tab2">
                <div class="row">
                  <div class="col-md-12">
                     <div class="form-inputs">
                      <%= f.input :parcel_description, input_html: { placeholder: "Décrivez votre colis" }, label: 'Description du colis' %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab3">
                <div class="row">

                  <div class="col-md-6">
                    <div class="form-inputs">
                        <%= f.input :receiver_first_name,label: 'Prénom du destinataire', input_html: { placeholder: "Prénom du destinataire" } %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-inputs">
                      <%= f.input :receiver_last_name, label: 'Nom du destinataire', input_html: { placeholder: "Nom du receveur" } %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-inputs">
                      <%= f.input :receiver_phone, label: 'Téléphone du destinataire', input_html: { placeholder: "06 45 68 23 12"} %>
                      <div id="error_on_receiver_phone" class="hidden" style="color:#800000;">
                        <p>
                          Veuillez fournir un n° téléphone valide.<br/> Ex: 0634567890
                        </p>
                      </div>
                    </div>
                  </div>

                  <% unless current_user.phone%>
                    <div class="col-md-6">
                      <div class="form-inputs">
                        <div class="form-group required">
                          <%= label_tag :sender_phone, class: "required" do%>
                            <abbr title="required">*</abbr> Votre téléphone
                          <%end%>
                          <%= text_field_tag :sender_phone, nil, {type: "number", placeholder: "06 45 68 23 12", class:"form-control required" } %>
                          <div id="error_on_phone" class="hidden" style="color:#800000;">
                            <p>
                              Votre numéro est indispensable pour la création d'une mission.<br/>
                              Veuillez rentrer un n° correct
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  <%end%>

                </div>
              </div>

              <div class="tab-pane" id="tab4">
                <div class="row">
                  <div class="col-md-12">
                     <div class="form-inputs" style="text-align: center;">
                     <br>
                     <br>
                      <%= f.button :submit, "Lancer la recherche", class: "btn btn-info btn-lg" %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Navigation dans le formulaire  -->
              <ul class="pager wizard">
                <!-- <li class="previous first" style="display:none;"><a href="#">First</a></li> -->
                <li class="previous"><a href="#">&larr; Etape précedente</a></li>
                <!-- <li class="next last" style="display:none;"><a href="#">Last</a></li> -->
                <li class="next"><a href="#">Etape suivante &rarr;</a></li>
              </ul>
            </div>
          </div>


          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
<script>
  $(document).ready(function() {
    var cond = $("tab-content .active").attr("id") == "tab4";
    $(window).keydown(function(event){
      if(!cond && event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
  });
</script>
<%end%>
