<!-- Resumé de la mission en cours -->
<div class="wrapper summary-mission">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div id="mission-header">
          <div id="mission-title">
            <h1 class="text-center">Votre mission</h1>
            <div  class= "mission-date text-center">
              <p>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <%= l(@mission.starts_on, format:" %-d %B %Y")%>
              </p>
              <p>
                <i class="fa fa-cube"></i>
                <%= @mission.parcel_description%>
              </p>
              <!-- # le mois est a passer en francais avec la commande l(date, format: '%B %d, in the year %Y') -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Partie expediteur -->
      <div class="col-xs-3" >
        <div id="sender" class="text-center">

          <div class="city-info">
            <div class="city">
              <%= cl_image_tag "city_wed48y", class: "hidden-xs hidden-md hidden-sm"%>
              <h2><%= @mission.departure_city%></h2>
            </div>
            <div class="time">
              <p><%= @mission.trip.starts_at.strftime(" %H h %M") if @mission.trip %>
              </p>
            </div>
          </div>

          <div class="badge-container">
            <%= image_tag @mission.user.one_picture_url, class: "avatar-bordered on-duty"%>
            <div class="badge badge-blue"><%= cl_image_tag "parcel_euzwpq"%></div>
          </div>

          <div class="name">
            <p>
              <%= @mission.user.first_name%><br/>
              <i class="fa fa-mobile" aria-hidden="true"></i> : <%= @mission.user.phone %>
            </p>
          </div>





        </div>
      </div>
      <%#raise%>
      <!-- Partie transporteur -->
      <div class="col-xs-6">
        <div id="carrier" class="text-center">
          <div id="travel" class="hidden-xs">

            <div id="train">
              <% case @mission.status %>
              <% when "on-going"%>
                <%= cl_image_tag "tgv_gkohwi", class:"on-transit"%>
              <% when "delivered" || "done" %>
                <%= cl_image_tag "tgv_gkohwi", class:"arrived"%>
              <% else%>
                <%= cl_image_tag "tgv_gkohwi", class:"beginning"%>
              <%end%>
            </div>

            <div id="bridge">
              <%= cl_image_tag "bridge_k18ha4"%>
            </div>
          </div>
          <div id="arrow" class="hidden-sm hidden-md hidden-lg">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </div>



            <!-- Gestion de l'absence de notre abscence de transporteur -->
          <% if @mission.trip%>
            <div class="badge-container">
              <%= image_tag @mission.trip.user.one_picture_url, class: "avatar-bordered"%>
              <div class="badge badge-blue hidden"><%= cl_image_tag "parcel_euzwpq"%></div>

            </div>
            <div class="name">
              <p><%= @mission.trip.user.first_name.capitalize %><br/>
              <%if @mission.trip.status == "to-be-confirmed"%>
                En attente de confirmation...
              <%elsif @mission.trip.status == "chosen" %>
                  <i class="fa fa-mobile" aria-hidden="true"></i> : <%= @mission.trip.user.phone %>
              <%end%>
              </p>
            </div>
          <% else %>
          <div class="error_message" style="margin-top:40px;">
            <p>Désolé mais il n'y a pas de transporteur disponible, nous faisons tout pour faire en sorte que vous puissiez trouver un whizer</p>
            <%= link_to "Trouver un transporteur", mission_trips_search_path(@mission),class: "btn btn-primary"%>
          </div>
          <%end%>

        </div>
      </div>

      <!-- Partie receveur -->
      <div class="col-xs-3">
        <div id="receiver" class="text-center">

          <div class="city-info">
            <div class="city">
              <%= cl_image_tag "city_wed48y", class:"hidden-xs hidden-md hidden-sm"%>
              <h2><%= @mission.arrival_city%></h2>
            </div>
            <div class="time">
              <p><%= @mission.trip.ends_at.strftime(" %H h %M") if @mission.trip %></p>
            </div>
          </div>


          <div class="badge-container">
            <%= image_tag "http://www.fao.org/fileadmin/templates/aiq2013/images/user-placeholder.jpg", class: "avatar-bordered "%>
            <div class="badge badge-blue hidden"><%= cl_image_tag "parcel_euzwpq"%></div>
          </div>

          <div class="name">
            <p>
              <%= @mission.receiver_first_name%><br/>
              <i class="fa fa-mobile" aria-hidden="true"></i> : <%= @mission.receiver_phone %>
            </p>
          </div>





        </div>
      </div>

    </div>

  </div>
</div>

<% if @mission.trip %>
  <div class="wrapper action-mission" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.1)), url(<%= cl_image_path "country-train_aejrzf"%>);">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
          <div id="action-base">
            <div id="action-title" class="text-center">
              <h1>Vos actions</h2>
            </div>
            <div id="actions-content" class="text-center">
              <%=render 'missions/actions', mission: @mission%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>



<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      // Dispatch de celui qui a le colis
      switch ("<%=@mission.status%>") {
        case "on-going": // Le colis est chez le transporteur
         // je resets tout a 0
         $(".on-duty").removeClass("on-duty");
         $(".badge-container>.badge").addClass("hidden");
         // j'affecte que au bon
         $("#carrier>.badge-container>img").addClass("on-duty");
         $("#carrier>.badge-container>.badge").removeClass("hidden");
         break;
        case ("delivered" || "done"):
        // je resets tout a 0
         $(".on-duty").removeClass("on-duty");
         $(".badge-container>.badge").addClass("hidden");
        // j'affecte que au bon
         $("#receiver>.badge-container>img").addClass("on-duty");
         $("#receiver>.badge-container>.badge").removeClass("hidden");
         break;
        // default:  // le reste des situations le colis est chez l'emetteur, (page par défaut -> A modifier ?)

      }
    });
  </script>
<% end %>
