<div class="container">
  <div class="row">
      <div class="row">
        <div class="col-md-7 col-md-offset-1">
          <div class="transporteur-form">
            <%= simple_form_for([@mission,@review]) do |f| %>
              <%= f.input :content, input_html: { placeholder: "Inscrivez ici votre avis, bon ou mauvais sur le transporteur. \nVotre avis interesse tout les whizers" }, label: "Votre avis" %>
              <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5], include_blank: "Notez votre transporteur", label: "Note" %>
              <%= f.button :submit, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="transporteur-form">
            <p>Votre transporteur est :</p>
            <p><strong><%= @mission.trip.user.first_name.capitalize %> <%= @mission.trip.user.last_name.capitalize %></strong></p>
            <p><%= cl_image_tag @mission.trip.user.one_picture_url, crop: :fit, width: 100, height: 100, class: "img-responsive"%></p>
          </div>
        </div>
      </div>
  </div>
</div>
